.coding {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container {
  height: 100vh !important;
}
/*
.terminal {
  height: 100vh;
} */

/* .editor {
  background-color: #252a33 !important;
}  */

/* .code-editor {
  grid-column: 2/3;
}

.terminal {
  grid-column: 1/3;
} */

body {
  margin: 0;
  /* background-color: black; */
}

/* .huge {
  position: absolute !important;
  bottom: 50px !important;
  right: 50px !important;
} */

.navbar {
  height: 5vh;
}
