.side-space {
  display: grid;
  height: 95vh;
  grid-template-rows: repeat(10, 1fr);
}

.question-space {
  grid-row: 1/8;
  background-color: blue;
}

.video-space {
  grid-row: 8/11;
  background-color: red;
}
